* {
	margin: 0;
	box-sizing: border-box;
}
body {
	font-family: Roboto, Helvetica, Arial, sans-serif;
}
h1,
h2,
h3,
h4 {
	text-align: center;
}

/* Custom class */
.dashboard-icon:hover {
	opacity: 0.6;
}
.header-text {
	color: white;
	font-weight: 500;
	margin-top: 17px;
	font-size: 17px;
}
.header-text:hover {
	color: #1266f1;
}
.logout:hover {
	opacity: 0.75;
}
.top-left {
	position: absolute;
	top: 8px;
	left: 16px;
	color: #fff;
	font-weight: 600;
	font-size: 18px;
}
.tag-card {
	margin: 10px 0 0 20px;
	color: #806a78;
}
.tourName {
	color: black;
	font-size: 18px;
	margin: 0;
	font-weight: 500;
}
.tagErrMsg {
	color: #f93154;
	margin-top: 5px;
	text-align: left;
	font-size: 14px;
}
.tourDesc {
	white-space: pre-line;
}
/* h4 {
	overflow: hidden;
	text-align: center;
}
h4:before,
h4:after {
	background-color: #000;
	content: "";
	display: inline-block;
	height: 1px;
	position: relative;
	vertical-align: middle;
	width: 50%;
}
h4:before {
	right: 0.5em;
	margin-left: -50%;
}
h4::after {
	left: 0.5em;
	margin-right: -50%;
} */

.dashboard {
	padding: 120px;
}

@media only screen and (max-width: 600px) {
	.dashboard {
		padding: 20px;
	}
	.headerCollapse {
		margin-top: 2.5rem;
	}
}
